/* Main Panel Styles*/

#linegraph_mainPanel {
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 98%;
  height: 38%;
  right: 1%;
  top: 6%;
  border-radius: 18px;
}

#map {
  position: absolute;
  height: 51%;
  width: 55%;
  display: inline-block;
  bottom: 1%;
  left: 1%;
  border-radius: 18px;
  outline: #000000 solid 3px;
  outline-offset: -1px;

}

#controls {
  position: absolute;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-decoration-color: rgb(0, 116, 218);
  fill: white;
  accent-color: white;
  bottom: 1%;
  right: 1%;
  width: 42%;
  height: 54%;
  text-align: left;
  border-radius: 18px;
  outline: #000000 solid 3px;
  outline-offset: -1px;
}

#referenceLink_div {
  position: absolute;
  background-color: rgb(0, 0, 0);
  height: 4%;
  left: 1%;
  right: 1%;
  top: 1%;
  border-radius: 14px;
  outline: #000000 solid 3px;
  outline-offset: -1px;
}

#Title {
  position: absolute;
  text-align: center;
  width: 100%;
  font: 15px sans-serif;
  font-size: 2.2vmin;
  top: -40%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 0.05em
}



#generalStatsPanel {
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  width: 35%;
  height: 96%;
  right: 2%;
  top: 2%;
  border-radius: 18px;
}

#generalStatsPanel_title {
  position: absolute;
  text-align: Center;
  left: 0%;
  width: 100%;
  height: 10%;
  top: 3%;
  font: 17px sans-serif;
  font-size: 2.8vmin;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.4;
}

#generalStatsPanel_labels {
  position: absolute;
  text-align: right;
  left: 0%;
  width: 52%;
  height: 80%;
  bottom: 0%;
  font: 16px sans-serif;
  font-size: 2.3vmin;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.4;
}

#generalStatsPanel_values {
  position: absolute;
  text-align: left;
  right: 0%;
  width: 46%;
  height: 80%;
  bottom: 0%;
  font: 16px sans-serif;
  font-size: 2.3vmin;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.4;
}


/*Controls sub-sytles*/

#lineGraphControls {
  position: absolute;
  top: 5%;
  left: 5%
}


/*Line Graph sub-styles*/

#linegraph_infoPanel {
  position: absolute;
  width: 14%;
  height: 96%;
  left: .5%;
  top: 2%;
  background-color: rgb(38, 38, 38);
  border-radius: 15px;
}

#linegraph_infoPanel_title {
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 96%;
  height: 20%;
  left: 2%;
  top: 1%;
  font: 14px sans-serif;
  font-size: 2.1vmin;
  text-align: center;
  letter-spacing: 0.1em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  border-radius: 14px;
  color:rgb(255, 255, 255);
}

#linegraph_infoPanel_rolling {
  position: absolute;
  background-color: rgb(250, 250, 250);
  color:rgb(0, 0, 0);
  width: 96%;
  height: 38%;
  left: 2%;
  bottom: 40%;
  border-radius: 14px;
  transition: background-color .2s;
  cursor: pointer;
  font: 12px sans-serif;
  font-size: 1.85vmin;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.2;
}

#linegraph_infoPanel_rolling_title {
  position: absolute;
  top: 5%;
  width: 100%;
  font: 12px sans-serif;
  font-size: 1.85vmin;
  text-align: center;
  letter-spacing: 0.1em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#linegraph_infoPanel_rolling_labels {
  position: absolute;
  width: 50%;
  height: 90%;
  left: 0%;
  bottom: 0%;
  text-align: right;
}

#linegraph_infoPanel_rolling_values {
  position: absolute;
  width: 48%;
  height: 90%;
  right: 0%;
  bottom: 0%;
  text-align: left;
}

#linegraph_infoPanel_region {
  position: absolute;
  background-color: rgb(20, 20, 20);
  color:rgb(200, 200, 200);
  width: 96%;
  height: 38%;
  left: 2%;
  bottom: 1%;
  font: 12px sans-serif;
  font-size: 1.85vmin;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 14px;
  cursor: pointer;
}

#linegraph_infoPanel_region_title {
  position: absolute;
  top: 5%;
  width: 100%;
  text-align: center;
}

#linegraph_infoPanel_region_labels {
  position: absolute;
  width: 50%;
  height: 90%;
  left: 0%;
  bottom: 0%;
  text-align: right;
}

#linegraph_infoPanel_region_values {
  position: absolute;
  width: 48%;
  height: 90%;
  right: 0%;
  bottom: 0%;
  text-align: left;
}


/*-Linegraph formating-*/

#linegraph_graphPanel {
  position: absolute;
  width: 86%;
  height: 100%;
  right: 0%;
  top: 0%;
}

#graphLabel_title {
  position: absolute;
  text-align: center;
  width: 100%;
  right: 0%;
  top: 2%;
  letter-spacing: 0.1em;
  font: 15px sans-serif;
  font-size: 2.3vmin;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#graphLabel_xAxis {
  position: absolute;
  text-align: center;
  width: 100%;
  right: 0%;
  bottom: 8%;
  letter-spacing: 0.15em;
  font: 11px sans-serif;
  font-size: 1.8vmin;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: lightgray;
}

#graphLabel_yAxis {
  position: absolute;
  left: .2%;
  top: 40%;
  transform: rotate(-90deg);
  letter-spacing: 0.2em;
  font: 10px sans-serif;
  font-size: 1.7vmin;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: lightgray;
}

/* Color def for timeseries lines colors*/

.axisWhite line {
  stroke: rgb(255, 255, 255);
}

.axisWhite path {
  stroke: rgb(255, 255, 255);
}

.axisWhite text {
  fill: rgb(255, 255, 255);
}