#linegraph_mainPanel {
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 98%;
  height: 38%;
  right: 1%;
  top: 1%;
}

#linegraph_infoPanel {
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 14vw;
  height: 35vh;
  left: 2vh;
  top: 1vh;
}

#linegraph_infoPanel_static {
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 94%;
  height: 47%;
  left: 3%;
  top: 2%;
  font: 12px sans-serif;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#linegraph_infoPanel_dynamic {
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 94%;
  height: 50%;
  left: 3%;
  bottom: 2%;
  font: 12px sans-serif;
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#controls {
  position: absolute;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-decoration-color: rgb(0, 116, 218);
  fill: white;
  accent-color: white;
  bottom: 3vh;
  right: 1%;
  width: 42%;
  height: 55vh;
  text-align: left;
}

#referenceLink {
  position: absolute;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-decoration-color: aliceblue;
  fill: white;
  accent-color: white;
  width: 90vw;
  left: 5vw;
  bottom: -4vh;
  font: 12px sans-serif;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#map {
  position: absolute;
  height: 55vh;
  width: 55%;
  display: inline-block;
  bottom: 3vh;
  left: 1%
}

#mapControls {
  position: absolute;
  bottom: 5%;
  left: 5%
}

#lineGraphControls {
  position: absolute;
  top: 5%;
  left: 5%
}

.axisWhite line {
  stroke: rgb(255, 255, 255);
}

.axisWhite path {
  stroke: rgb(255, 255, 255);
}

.axisWhite text {
  fill: rgb(255, 255, 255);
}